body {
	font-family: 'Poppins';
	background-image: url(firewatch.jpg);
	background-size: 100%;
	position: relative;
}

.counter {
	font-size: 10rem;
	text-align: center;
	display: block;
	margin: 0%;
}

#button-container {
	text-align: center;
}

button {
	font-family: 'Poppins';
	padding: 0.6rem 1.2rem;
	font-size: 0.9rem;
	background-color: bisque;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color:rgb(255, 184, 96);
}